
%html
  %body
    %h2 View
    %table{:border => "1", :cellpadding => "15"}
      %thead
        %tr
          %th Name
          %th Age
          %th{:colspan => "3"} Action
      %tbody
        - @data.each do |i|
          %tr
            %td= i.name
            %td= i.age
            %td= link_to 'Show',:action=>"show",:id=>i.id
            %td= link_to 'Edit',:action=>"edit",:id=>i.id
            %td= link_to 'Destroy',:action=>"delete",:id=>i.id
%br
  = link_to 'Back',:action=>'new'

%br  
  
%li=link_to 'new',:action=>"new"

